.avi{
    list-style: none;
    float: left;
    cursor:pointer;
}
.recs{
    width: 468px;
    height: 64px;
    cursor:pointer;
}
.syn{
    position: absolute;
    left: 340px;
    top: 120px;
}
.rec{
    position: absolute;
    left: 340px;
    top: 120px;
}
.log1{
    position: absolute;
    left: 930px;
    top: 270px;
}
.log2{
    position: absolute;
    left: 930px;
    top: 270px;
}
.log3{
    position: absolute;
    left: 930px;
    top: 270px;
}
.title{
    position: absolute;
    left: 330px;
    top: -10px;
    color: aqua;
}
.nav_f{
    width: auto;
    height: 50px;
    background-color: black;
}
#l1{
    position: absolute;
    left: 625px;
    top: 23px;
    color: aqua;
}
#l2{
    position: absolute;
    left: 733px;
    top: 23px;
    color: aqua;
}
#l3{
    position: absolute;
    left: 841px;
    top: 23px;
    color: aqua;
}
#l4{
    position: absolute;
    left: 1057px;
    top: 23px;
    color: aqua;
}
#l5{
    position: absolute;
    left: 949px;
    top: 23px;
    color: aqua;
}
.rec_posId{
    width: 156px;
    height: 35px;
    float: left;

}
.rec_budget{
    width: 156px;
    height: 35px;
    float: right;
}
.rec_requirement{
    width: 130px;
    height: 35px;
    float: left;
}
.rec_time{
    width: 130px;
    height: 35px;
    float: right;
}
.dropResume{
    width: 130px;
    height: 35px;
}